<!--<p>tableau-principal works!</p>-->
<form [formGroup]="formGrouId">

  <select class="form-select" aria-label="Default select example" formControlName="groupeId">
    @for (groupeId of groupeProjet.groupeId  | keyvalue; track groupeId.key) {
      @if (groupeId.key == groupeProjet.groupeIdDefaut) {
        <option value="{{ groupeId.key }}" selected>{{ groupeId.value }}</option>
      } @else {
        <option value="{{ groupeId.key }}">{{ groupeId.value }}</option>
      }
    }
  </select>


  <button (click)="recharger($event)" class="btn">Recharger</button>

</form>

<!--<button type="button" class="btn">Base class</button>-->


<hr>

<!--<button type="button" class="btn btn-primary">Primary</button>-->
<!--<button type="button" class="btn btn-secondary">Secondary</button>-->
<!--<button type="button" class="btn btn-success">Success</button>-->
<!--<button type="button" class="btn btn-danger">Danger</button>-->
<!--<button type="button" class="btn btn-warning">Warning</button>-->
<!--<button type="button" class="btn btn-info">Info</button>-->
<!--<button type="button" class="btn btn-light">Light</button>-->
<!--<button type="button" class="btn btn-dark">Dark</button>-->

<!--<button type="button" class="btn btn-link">Link</button>-->

@if (chargement) {
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
} @else {

  @if (listeProjet) {

    <table class="table">
      <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Version</th>
        <th scope="col">Parent</th>
        <th scope="col">Description</th>
        <th scope="col">Git</th>
      </tr>
      </thead>
      <tbody>
        @for (projet of listeProjet; track projet.nom) {

          <tr>
            <th>
              @if (projet.nom && this.formGrouId.value) {
                <a [routerLink]="['details',this.groupeIdSelected(), projet.nom]">{{ projet.nom }}</a>
              } @else {
                {{ projet.nom }}
              }
            </th>
            <td>
              @if (projet.artifact) {
                <!--              {{ projet.artifact.groupId }}:{{ projet.artifact.artefactId }}:{{ projet.artifact.version }}-->
                {{ projet.artifact.version }}
              }
            </td>
            <td>
              @if (projet.parent) {
                @if (projet.parent.artefactId == 'spring-boot-starter-parent' && projet.parent.groupId == 'org.springframework.boot') {
                  Spring boot {{ projet.parent.version }}
                } @else {
                  {{ projet.parent.groupId }}:{{ projet.parent.artefactId }}:{{ projet.parent.version }}
                }

              }
            </td>
            <td>{{ projet.description }}</td>
            <td>
              @if (projet.infoGit) {
              <div class="d-flex flex-column  mb-3">
                <div>date : {{ projet.infoGit?.date | date: 'dd/MM/yyyy' }}</div>
                <div>hash : {{ projet.infoGit?.idCommit }}</div>
                <div>branche : {{ projet.infoGit?.branche }}</div>
                <div>message : {{ projet.infoGit?.message }}</div>
              </div>
              }
            </td>
          </tr>
        }

      </tbody>
    </table>

    tableau 2 :
    <ag-grid-angular
      [rowData]="tableau"
      [columnDefs]="colDefs"
    />

  }

  tableau 3 :
  <ag-grid-angular
    [rowData]="rowData"
    [columnDefs]="colDefs2" />

}
