<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #toastEl>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Mise à jour de la version</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Version Actuelle : {{ versionActuelle }}
        <form [formGroup]="myForm">

          @for (version of versions | keyvalue; track version.key) {

            <div class="form-check">
              <input class="form-check-input" type="radio" name="choixVersion" [id]="'versionId'+version.key"
                     [value]="version.value" formControlName="choixVersion">
              <label class="form-check-label" [for]="'versionId'+version.key">
                {{ version.value }}
              </label>
            </div>

          }

          <div class="form-check">
            <input class="form-check-input" type="radio" name="choixVersion" id="versionId0"
                   [value]="versionAutre" formControlName="choixVersion">
            <label class="form-check-label" for="versionId0">
              Autre version
            </label>
          </div>
          <div>
            <label for="no-version">numero de version : </label>
            <input id="no-version" type="text" formControlName="versionAutre"/>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="commitActive"
                   name="commitActive" formControlName="commitActive">
            <label class="form-check-label" for="commitActive">
              Commit le message
            </label>
          </div>

          <div>
            <label for="commit-message">Message de commit : </label>
            <input id="commit-message" type="text" formControlName="commitMessage"/>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="enregistrer($event)">Save changes</button>
      </div>
    </div>
  </div>
</div>
