
.trouve {
  color: red;
}

.formatted {
  white-space: pre-wrap; /* conserve les sauts de ligne et espaces */
  font-family: monospace; /* optionnel, si tu veux un rendu comme <pre> */
  padding-left: 0;
  padding-right: 0;
}
