<!--<p>tableau-principal works!</p>-->
<form [formGroup]="formGrouId">

  <select class="form-select" aria-label="Default select example" formControlName="groupeId">
    @for (groupeId of groupeProjet.groupeId  | keyvalue; track groupeId.key) {
      @if (groupeId.key == groupeProjet.groupeIdDefaut) {
        <option value="{{ groupeId.key }}" selected>{{ groupeId.value }}</option>
      } @else {
        <option value="{{ groupeId.key }}">{{ groupeId.value }}</option>
      }
    }
  </select>


  <button (click)="recharger($event)" class="btn">Recharger</button>

</form>

<hr>


@if (chargement) {
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
} @else {

  @if (listeProjet) {

    <form [formGroup]="formGrouId2">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" id="btnradio1" autocomplete="off" checked [value]="AFFICHAGE_TABLEAU"
               formControlName="affichage">
        <label class="btn btn-outline-primary" for="btnradio1">Tableau</label>

        <input type="radio" class="btn-check" id="btnradio2" autocomplete="off" [value]="AFFICHAGE_RECHERCHE"
               formControlName="affichage">
        <label class="btn btn-outline-primary" for="btnradio2">Recherche</label>

      </div>

    </form>


    @if (formGrouId2.value.affichage == AFFICHAGE_TABLEAU) {
      <ag-grid-angular
        [rowData]="tableau"
        [columnDefs]="colDefs"
        domLayout="autoHeight"
        [gridOptions]="gridOptions"
      />
    } @else {
      @if (formGrouId2.value.affichage == AFFICHAGE_RECHERCHE) {

        <div>
          <div>Recherche</div>

          <app-recherche [groupeId]="formGrouId.value.groupeId || null"></app-recherche>

        </div>
      }
    }

  }

}
