<!--<div class="card">-->

<!--  <div class="card-body">-->


<!--    <p>nom projet : {{ nomProjet() }}</p>-->
<!--    <p>{{ projet()?.nom }}</p>-->
<!--    <p>Description : {{ projet()?.description }}</p>-->

<!--  </div>-->

<!--</div>-->

<!--<hr/>-->


<div class="container">

  <a [routerLink]="['/']">Retour</a>

  <form [formGroup]="choixForm">

<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="choix" id="btnradio1" autocomplete="off" formControlName="choix" value="1">
  <label class="btn btn-outline-primary" for="btnradio1">Radio 1</label>

  <input type="radio" class="btn-check" name="choix" id="btnradio2" autocomplete="off" formControlName="choix" value="2">
  <label class="btn btn-outline-primary" for="btnradio2">Radio 2</label>

  <input type="radio" class="btn-check" name="choix" id="btnradio3" autocomplete="off" formControlName="choix"  value="3">
  <label class="btn btn-outline-primary" for="btnradio3">Radio 3</label>
</div>



    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary" (click)="majVersion2($event)">Mise à jour version</button>
      <button type="button" class="btn btn-primary" (click)="listConfig($event)">Liste configuration</button>
      <button type="button" class="btn btn-primary" (click)="recharger($event)">Recharger</button>
    </div>



  </form>

<!--<div class="card">-->

<!--  <div class="card-body">-->

<!--    <table class="table">-->
<!--      &lt;!&ndash;  <thead>&ndash;&gt;-->
<!--      &lt;!&ndash;  <tr>&ndash;&gt;-->
<!--      &lt;!&ndash;    <th>Nom</th>&ndash;&gt;-->
<!--      &lt;!&ndash;    <th>Valeur</th>&ndash;&gt;-->
<!--      &lt;!&ndash;  </tr>&ndash;&gt;-->
<!--      &lt;!&ndash;  </thead>&ndash;&gt;-->
<!--      <tbody>-->
<!--      <tr>-->
<!--        <th>Nom</th>-->
<!--        <td>{{ projet()?.nom }}</td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th>Description</th>-->
<!--        <td>{{ projet()?.description }}</td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th>Parent</th>-->
<!--        <td>-->
<!--          {{ projet()?.parent?.groupId }}:{{ projet()?.parent?.artefactId }}:{{ projet()?.parent?.version }}-->
<!--        </td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th>Artifact</th>-->
<!--        <td>-->
<!--          {{ projet()?.artifact?.groupId }}:{{ projet()?.artifact?.artefactId }}:{{ projet()?.artifact?.version }}-->
<!--        </td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th>Répertoire</th>-->
<!--        <td>{{ projet()?.repertoire }}</td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th>Modules</th>-->
<!--        <td>-->
<!--          @if (projet()?.modules) {-->
<!--            @for(module of projet()?.modules; track module) {-->
<!--              <span class="badge rounded-pill text-bg-primary">{{module}}</span>-->
<!--            }-->
<!--          }-->
<!--        </td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th>Modules détails</th>-->
<!--        <td>-->
<!--          @if (projet()?.detailModules) {-->

<!--            <table class="table">-->
<!--              <tbody>-->

<!--                @for (property of projet()?.detailModules | keyvalue; track property.key) {-->
<!--                  <tr>-->
<!--                    <th>{{ property.key }}</th>-->
<!--                    <td>{{ property.value }}</td>-->
<!--                  </tr>-->

<!--                }-->

<!--              </tbody>-->
<!--            </table>-->

<!--          }-->
<!--        </td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th>Propriétés</th>-->
<!--        <td>-->
<!--          @if (projet()?.properties) {-->

<!--            <table class="table">-->
<!--              <tbody>-->

<!--                @for (property of projet()?.properties | keyvalue; track property.key) {-->
<!--                  <tr>-->
<!--                    <th>{{ property.key }}</th>-->
<!--                    <td>{{ property.value }}</td>-->
<!--                  </tr>-->

<!--                }-->

<!--              </tbody>-->
<!--            </table>-->

<!--          }-->
<!--        </td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th>Dépendances</th>-->
<!--        <td>-->
<!--          @if (projet()?.dependencies) {-->

<!--            <table class="table">-->
<!--              <tbody>-->

<!--                @for (dependance of projet()?.dependencies; track dependance.id) {-->

<!--                  <tr>-->
<!--                    <td>{{ dependance.groupId }} : {{ dependance.artefactId }} : {{ dependance.version }}</td>-->
<!--                  </tr>-->
<!--                }-->

<!--              </tbody>-->
<!--            </table>-->

<!--          }-->
<!--        </td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th>Git</th>-->
<!--        <td>-->
<!--          @if (projet()?.infoGit) {-->

<!--            <table class="table">-->
<!--              <tbody>-->
<!--              <tr>-->
<!--                <th>Date du commit</th>-->
<!--                <td>{{ projet()?.infoGit?.date | date: 'dd/MM/yyyy H:mm:ss' }}</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <th>Id commit</th>-->
<!--                <td>{{ projet()?.infoGit?.idCommit }}</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <th>Branche</th>-->
<!--                <td>{{ projet()?.infoGit?.branche }}</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <th>Message</th>-->
<!--                <td>{{ projet()?.infoGit?.message }}</td>-->
<!--              </tr>-->
<!--              </tbody>-->
<!--            </table>-->

<!--          }-->
<!--        </td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->

<!--  </div>-->
<!--</div>-->
  @if (projet()) {
  <app-details-projet [projet]="projet()" [moduleEnfant]="false"></app-details-projet>
  }





@if (projet()?.projetEnfants) {
  <hr/>

  @for (projet of projet()?.projetEnfants; track projet.nom) {

    <app-details-projet [projet]="projet" [moduleEnfant]="true"></app-details-projet>

<!--    <div class="card">-->

<!--      <div class="card-body">-->

<!--        <p class="card-title">-->
<!--          Module {{ projet.nom }}-->
<!--        </p>-->
<!--        <table class="table">-->
<!--          &lt;!&ndash;  <thead>&ndash;&gt;-->
<!--          &lt;!&ndash;  <tr>&ndash;&gt;-->
<!--          &lt;!&ndash;    <th>Nom</th>&ndash;&gt;-->
<!--          &lt;!&ndash;    <th>Valeur</th>&ndash;&gt;-->
<!--          &lt;!&ndash;  </tr>&ndash;&gt;-->
<!--          &lt;!&ndash;  </thead>&ndash;&gt;-->
<!--          <tbody>-->
<!--          <tr>-->
<!--            <th>Nom</th>-->
<!--            <td>{{ projet?.nom }}</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Description</th>-->
<!--            <td>{{ projet?.description }}</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Parent</th>-->
<!--            <td>-->
<!--              {{ projet?.parent?.groupId }}:{{ projet?.parent?.artefactId }}:{{ projet?.parent?.version }}-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Artifact</th>-->
<!--            <td>-->
<!--              {{ projet?.artifact?.groupId }}:{{ projet?.artifact?.artefactId }}:{{ projet?.artifact?.version }}-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Modules</th>-->
<!--            <td>{{ projet?.modules }}</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Propriétés</th>-->
<!--            <td>-->
<!--              @if (projet?.properties) {-->
<!--                <table class="table">-->
<!--                  <tbody>-->

<!--                    @for (property of projet?.properties | keyvalue; track property.key) {-->
<!--                      <tr>-->
<!--                        <th>{{ property.key }}</th>-->
<!--                        <td>{{ property.value }}</td>-->
<!--                      </tr>-->

<!--                    }-->

<!--                  </tbody>-->
<!--                </table>-->

<!--              }-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Dépendances</th>-->
<!--            <td>-->
<!--              @if (projet?.dependencies) {-->

<!--                <table class="table">-->
<!--                  <tbody>-->

<!--                    @for (dependance of projet?.dependencies; track dependance.id) {-->

<!--                      <tr>-->
<!--                        <td>{{ dependance.groupId }} : {{ dependance.artefactId }} : {{ dependance.version }}</td>-->
<!--                      </tr>-->
<!--                    }-->

<!--                  </tbody>-->
<!--                </table>-->

<!--              }-->
<!--            </td>-->
<!--          </tr>-->
<!--          @if (projet?.infoNode) {-->

<!--            <tr>-->
<!--              <th>Nom module Node JS</th>-->
<!--              <td>{{ projet?.infoNode?.nom }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <th>Version</th>-->
<!--              <td>{{ projet?.infoNode?.version }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <th>Script</th>-->
<!--              <td>-->
<!--                @if (projet?.infoNode?.script) {-->
<!--                  <table class="table">-->
<!--                    <tbody>-->
<!--                      @for (property of projet?.infoNode?.script | keyvalue; track property.key) {-->
<!--                        <tr>-->
<!--                          <th>{{ property.key }}</th>-->
<!--                          <td>{{ property.value }}</td>-->
<!--                        </tr>-->
<!--                      }-->
<!--                    </tbody>-->
<!--                  </table>-->

<!--                }-->
<!--              </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <th>dependances</th>-->
<!--              <td>-->
<!--                @if (projet?.infoNode?.dependencies) {-->
<!--                  <table class="table">-->
<!--                    <tbody>-->
<!--                      @for (property of projet?.infoNode?.dependencies | keyvalue; track property.key) {-->
<!--                        <tr>-->
<!--                          <th>{{ property.key }}</th>-->
<!--                          <td>{{ property.value }}</td>-->
<!--                        </tr>-->
<!--                      }-->
<!--                    </tbody>-->
<!--                  </table>-->

<!--                }-->
<!--              </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <th>dependances dev</th>-->
<!--              <td>-->
<!--                @if (projet?.infoNode?.devDependencies) {-->
<!--                  <table class="table">-->
<!--                    <tbody>-->
<!--                      @for (property of projet?.infoNode?.devDependencies | keyvalue; track property.key) {-->
<!--                        <tr>-->
<!--                          <th>{{ property.key }}</th>-->
<!--                          <td>{{ property.value }}</td>-->
<!--                        </tr>-->
<!--                      }-->
<!--                    </tbody>-->
<!--                  </table>-->

<!--                }-->
<!--              </td>-->
<!--            </tr>-->

<!--          }-->
<!--          </tbody>-->
<!--        </table>-->

<!--      </div>-->
<!--    </div>-->
  }
}


<!--@if (projet()?.infoNode) {-->

<!--  <div class="card">-->

<!--    <div class="card-body">-->

<!--      <p class="card-title">-->
<!--        Module {{ projet()?.infoNode?.nom }}-->
<!--      </p>-->
<!--      <table class="table">-->
<!--        <tbody>-->
<!--        <tr>-->
<!--          <th>Nom</th>-->
<!--          <td>{{ projet()?.infoNode?.nom }}</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th>Version</th>-->
<!--          <td>{{ projet()?.infoNode?.version }}</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th>Script</th>-->
<!--          <td>-->
<!--            @if (projet()?.infoNode?.script) {-->
<!--              <table class="table">-->
<!--                <tbody>-->
<!--                  @for (property of projet()?.infoNode?.script | keyvalue; track property.key) {-->
<!--                    <tr>-->
<!--                      <th>{{ property.key }}</th>-->
<!--                      <td>{{ property.value }}</td>-->
<!--                    </tr>-->
<!--                  }-->
<!--                </tbody>-->
<!--              </table>-->

<!--            }-->
<!--          </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th>dependances</th>-->
<!--          <td>-->
<!--            @if (projet()?.infoNode?.dependencies) {-->
<!--              <table class="table">-->
<!--                <tbody>-->
<!--                  @for (property of projet()?.infoNode?.dependencies | keyvalue; track property.key) {-->
<!--                    <tr>-->
<!--                      <th>{{ property.key }}</th>-->
<!--                      <td>{{ property.value }}</td>-->
<!--                    </tr>-->
<!--                  }-->
<!--                </tbody>-->
<!--              </table>-->

<!--            }-->
<!--          </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th>dependances dev</th>-->
<!--          <td>-->
<!--            @if (projet()?.infoNode?.devDependencies) {-->
<!--              <table class="table">-->
<!--                <tbody>-->
<!--                  @for (property of projet()?.infoNode?.devDependencies | keyvalue; track property.key) {-->
<!--                    <tr>-->
<!--                      <th>{{ property.key }}</th>-->
<!--                      <td>{{ property.value }}</td>-->
<!--                    </tr>-->
<!--                  }-->
<!--                </tbody>-->
<!--              </table>-->

<!--            }-->
<!--          </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->

<!--}-->

  <app-maj-version #majVersion id="majVersionId"></app-maj-version>

  <app-changement-config #changementConfig id="changementConfigId"></app-changement-config>

</div>
