<div class="container">

  <a [routerLink]="['/']">Retour</a>

  <form [formGroup]="choixForm">

    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="choix" id="btnradio1" autocomplete="off" formControlName="choix"
             value="1">
      <label class="btn btn-outline-primary" for="btnradio1">Radio 1</label>

      <input type="radio" class="btn-check" name="choix" id="btnradio2" autocomplete="off" formControlName="choix"
             value="2">
      <label class="btn btn-outline-primary" for="btnradio2">Radio 2</label>

      <input type="radio" class="btn-check" name="choix" id="btnradio3" autocomplete="off" formControlName="choix"
             value="3">
      <label class="btn btn-outline-primary" for="btnradio3">Radio 3</label>
    </div>


    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary" (click)="majVersion2($event)">Mise à jour version</button>
      <button type="button" class="btn btn-primary" (click)="listConfig($event)">Liste configuration</button>
      <button type="button" class="btn btn-primary" (click)="listDependances($event)">Liste des dépendances</button>
      <button type="button" class="btn btn-primary" (click)="analyseDependances($event)">Analyse des dépendances
      </button>
      <button type="button" class="btn btn-primary" (click)="analyseCommentaires($event)">Liste commentaire dans les commits
      </button>
      <button type="button" class="btn btn-primary" (click)="selectRunCommande($event)">Execution
      </button>
<!--      <div class="btn-group" role="group">-->
<!--        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--          Execution-->
<!--        </button>-->
<!--        <ul class="dropdown-menu">-->
<!--          @for(run of listeRunConfig; track $index){-->
<!--            <li><a class="dropdown-item" (click)="runCommande($event, run)">{{run.libelle}}</a></li>-->
<!--          }-->
<!--          <li><a class="dropdown-item" href="#">Dropdown link</a></li>-->
<!--          <li><a class="dropdown-item" href="#">Dropdown link</a></li>-->
<!--        </ul>-->
<!--      </div>-->
      <button type="button" class="btn btn-primary" (click)="recharger($event)">Recharger</button>
<!--      <p-button label="Check"/>-->
<!--      <div class="btn-group" role="group">-->
<!--        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--          Dropdown-->
<!--        </button>-->
<!--        <ul class="dropdown-menu">-->
<!--          <li><a class="dropdown-item" href="#">Dropdown link</a></li>-->
<!--          <li><a class="dropdown-item" href="#">Dropdown link</a></li>-->
<!--        </ul>-->
<!--      </div>-->
    </div>



<!--    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">-->
<!--      <button type="button" class="btn btn-primary">1</button>-->
<!--      <button type="button" class="btn btn-primary">2</button>-->

<!--      <div class="btn-group" role="group">-->
<!--        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--          Dropdown-->
<!--        </button>-->
<!--        <ul class="dropdown-menu">-->
<!--          <li><a class="dropdown-item" href="#">Dropdown link</a></li>-->
<!--          <li><a class="dropdown-item" href="#">Dropdown link</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->



  </form>

  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">Pom</p-tab>
      <p-tab value="1">Recherche</p-tab>
      <p-tab value="2">Autre</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        @if (projet()) {
          <app-details-projet [projet]="projet()" [moduleEnfant]="false"></app-details-projet>
        }


        @if (projet()?.projetEnfants) {
          <hr/>

          @for (projet of projet()?.projetEnfants; track projet.nom) {

            <app-details-projet [projet]="projet" [moduleEnfant]="true"></app-details-projet>

          }
        }


      </p-tabpanel>

      <p-tabpanel value="1">

        @let groupeProjet1 = groupeProjet();
        @let projetId1 = projet()?.id;
        @if (groupeProjet1 && projetId1) {
          <app-recherche [groupeId]="groupeProjet1 || null" [projetId]="projetId1 || null"></app-recherche>
        }

      </p-tabpanel>

      <p-tabpanel value="2">
      </p-tabpanel>

    </p-tabpanels>
  </p-tabs>

  <app-maj-version #majVersion id="majVersionId"></app-maj-version>

  <app-changement-config #changementConfig id="changementConfigId"></app-changement-config>

  <app-run #run id="runId"></app-run>

  <app-git-commentaire #gitCommentaire id="gitCommentaireId"></app-git-commentaire>

  <app-select-run #selectRun id="selectRun"></app-select-run>

</div>
